/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Ubuntu,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
}

.container {
  width: 520px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
}

input {
  width: 100%;
  padding: .7em .5em .5em;
  border: 1px solid #CCC;
  font-size: 16px;
  outline: 0;
  -webkit-box-sizing: border-box;
}

.browser-support {
  margin-top: 1em;
  padding: 0 0.5em;
}

.browser-list {
  float: left;
  margin: 0 0.5em 0 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  text-align: center;
}

.browser-list li {
  width: 2em;
  padding: 0.5em 0;
  margin-bottom: 1px;
  color:#FFF;
}

.browser-list .browser-icon {
  width: 32px;
  height: 32px;
  padding: 0;
  margin-bottom: .5em;
  box-shadow: none;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
}

/* Classes codes from features.json */
.y, .x {background: green; }
.n, .p {background: red;}
.a {background: #25BE25;}
.u {background: gray;}

.ie,
.edge     {background-image: url(img/ie.svg);}
.firefox  {background-image: url(img/firefox.svg);}
.chrome   {background-image: url(img/chrome.svg);}
.safari,
.ios_saf  {background-image: url(img/safari.svg);}
.opera,
.op_mini,
.op_mob   {background-image: url(img/opera.svg);}
.android  {background-image: url(img/Android_robot.svg);}

.ios_saf:after,
.op_mini:after,
.op_mob:after {
  display: block;
  font-size: 0.75em;
  color: #FFF;
  background: rgba(0, 0, 0, 0.25);
  text-indent: initial;
}

.ios_saf:after  {content: "iOS";}
.op_mini:after  {content: "Mini";}
.op_mob:after {content: "Mobile";}

.references {
  margin: 1em 0.5em 0 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  text-align: center;
}

.references li {
  width: auto;
  float: left;
  margin-right: .5em;
  padding: .3em .5em;
  font-size: .75em;
  color:#FFF;
}

.more-info {
  position: relative;
  float: right;
  width: 25%;
  margin-top: 1em;
  padding: 0.5em;
  font-size: .8em;
  line-height: 1.2em;
  background: #EEE;
  text-decoration: none;
}

.more-info:hover {
  background: #CCC;
}

.more-info:after {
  content: "»";
  position: absolute;
  right: 0.5em;
  top: 50%;
  margin-top: -0.5em;
}

.about-icon {
  max-width: 16px;
  cursor: pointer;
  opacity: 0.75;
}

.about {
  position: relative;
  margin-top: 0.25em;
  padding: 0.25em 1em;
  background: #EEE;
}

.about:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 3px;
  display: block;
  width: 0;
  border-bottom: 5px solid #EEE;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
